.menu-test
    button.lng-btn en
.wrapper
    .banner
        .banner__wrap 
            .banner__person
                img(src="./img/person.png" alt="Favbet")
            .banner__content
                .banner__title(data-translate="bannerTitle") Welcome Bonus
                    span *
                .banner__bonus
                    .banner__bonus-money
                        span(data-translate="bonus") up to 225 000 ₴
                        img(src="./img/magenta-bonus-bg.png" alt="Favbet")
                    .banner__bonus-freespin
                        span(data-translate="300fs") + 300 FS
                        img(src="./img/black-bonus-bg.png" alt="Favbet")
        .banner__decoration
            img(src="./img/circle-arcs.png" alt="Favbet")
        .banner__info(data-translate="bannerInfo") Під бонусом розуміється можливість отримати приз в рамках акції «Вітальний бонус». Період дії акції з 24.03.2025 по 31.12.2025 року. Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua. 